extends layout.pug

block content

    h1 Library Manager
    p Welcome to Library Manager
    ul
      li
        h4 Books
        ul
        li
            a(href='/new_book') New Book
        li
            a(href='books') List All
        li
            a(href='/books?filter=overdue') List Overdue
        li
            a(href='/books?filter=checked_out') List Checked Out
      li
        h4 Patrons
        ul
        li
            a(href='patrons/new_patron') New Patron
        li
            a(href='patrons') List All
      li
        h4 Loans
        ul
        li
            a(href='new_loan') New Loan
        li
            a(href='loans') List All
        li
            a(href='overdue_loans') List Overdue
        li
            a(href='checked_loans') List Checked Out